.box, .wall {
    width: 40px;
    height: 40px;
    position: absolute;
}
.wall {
    background-color: black;
}
.box{
    background-color: saddlebrown;
}
.box.player-box {
    background-color: red;
}
.board {
    width: 320px;
    height: 160px;
    background-color: yellowgreen;
    position: relative;
}


